{% extends 'admin-templates/base.html' %}
{% load static %}
{% block content %}

<div class="content-main" style="background-color: #f2f2f2; padding: 20px; height: 400px;">
    <div class="content-header">
        <h6 class="content-title">Category Table</h6>
        <div class="table-responsive" style="overflow-x: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Category Image</th>
                        <th scope="col">Category Description</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in categories %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.image}}</td>
                        <td>{{product.description}}</td>
                        <td>
                            <a href="{% url 'update_category' product.id %}" class="btn btn-light">Update</a>
                            <a href="{% url 'delete_category' product.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="add_category" class="btn btn-primary">Add Category</a>
</div>

{% endblock %}
