
{% extends 'admin-templates/base.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                   
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5
                        <canvas id="myChart" height="120px"></canvas> 
                            <canvas id="myChart1"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                
                          <script>
                            
                            const ctx1 = document.getElementById('myChart1');
                          
                            new Chart(ctx1, {
                              type: 'bar',
                              data: {
                                labels: {{ monthNumber|safe }},
                                datasets: [{
                                  label: 'Total orders by this month',
                                  data: {{ totalOrders|safe }},
                                  borderWidth: 1
                                }]
                              },
                              options: {
                                scales: {
                                  y: {
                                    beginAtZero: true
                                  }
                                }
                              }
                            });
                          </script>

                            
                        </article>
                    </div>
                   
   {% endblock content %}