<!-- {% extends 'user/base.html' %} -->
{% load static %}
<!-- {% block content %} -->






<br>









<section class="login_part pt-5 ">
    <div class="container rounded shadow">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        {% comment %} <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p> {% endcomment %}
                        <a href="/signup" class="btn_3">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <br>







                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        <form class="row contact_form"  method="post">
                            {% csrf_token %}
                            <p style="color: red;">{{ invalid }}</p>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="phone_number" name="phone_number" value=""
                                    placeholder="Phone Number">
                            </div>
                           
                            <div class="col-md-12 form-group">
                                
                                <button type="submit" value="submit" class="btn btn-outline-primary-2">
                                    Send OTP
                                </button>

                                <br>




                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- {% endblock content %} -->